.App {
  text-align: center;
}

body.account-page-bg {
  background-color: #e6b9b9;
}

body.account-page-bg .container {
  min-height: 100vh;
}

body.leaderboard-page-bg {
  background-color: #90d4a5;
}

/* Additional styles for the leaderboard page */

.leaderboard-container {
  padding: 1rem; /* padding around the entire leaderboard container */
}

.leaderboard-table {
  margin: 0 auto; /* center the table on the page */
  width: 80%; /* set the width of the table to 80% of its container */
  border-collapse: separate; /* needed for border-radius to work */
  border-spacing: 0; /* elim the space between cells */
  border-radius: 8px; /* rounded corners for the outer edge of the table */
  overflow: hidden; /* so the content does not spill outside the border-radius */
}

.leaderboard-table th,
.leaderboard-table td {
  padding: 0.5rem; /* padding inside table cells */
  border: 1px solid #ddd; /* border to each cell */
}

/* Round the top corners of the first and last th */
.leaderboard-table th:first-child {
  border-top-left-radius: 8px; /* round the top-left corner */
}

.leaderboard-table th:last-child {
  border-top-right-radius: 8px; /* round the top-right corner */
}

/* Round the bottom corners of the first and last td in the last row */
.leaderboard-table tr:last-child td:first-child {
  border-bottom-left-radius: 8px; /* round the bottom-left corner */
}

.leaderboard-table tr:last-child td:last-child {
  border-bottom-right-radius: 8px; /* round the bottom-right corner */
}

.leaderboard-table th {
  background-color: #333; /* dark background for header */
  color: #fff; /* light text for header */
}

.leaderboard-table tr:nth-child(even) {
  background-color: #f2f2f2; /* zebra striping for rows */
}

.leaderboard-table tr:hover {
  background-color: #ddd; /* highlight on hover */
}

.leaderboard-header {
  font-size: 1.5em; /* font-size to be larger than the default */
  font-weight: bold; /* bold */
  color: #000; /* color to black */
  text-align: left; 
  margin-left: 1rem; /* add space on the left */
  padding-bottom: 0.5rem; /* add space below the header */
}

/* Support Page css */

.support-container {
  max-width: 1200px; /* adjusted width to accommodate two columns */
  margin: 2rem auto;
  padding: 2rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-between; 
}

.support-header {
  font-size: 2rem;
  color: #333;
  margin-bottom: 1rem;
  text-align: left;
  width: 100%; /* header spans the full width */
}

.support-content {
  display: flex;
  width: 100%; /* contents span the full width */
  justify-content: space-between; /* distribute space between columns */
}

.support-column {
  width: 48%; /* almost half of the container for each column */
  display: flex; /* flex layout for internal alignment */
  flex-direction: column; /* stack elements vertically */
}

/* styles for search and form elements */
.search-container {
  margin-bottom: 1rem;
}

.search-input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.form-input,
.form-textarea {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.form-textarea {
  height: 100px;
}

.submit-button {
  padding: 0.5rem;
  background-color: lightgreen;
  color: #333;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* add styles specific to the FAQ section here */
.faq-section {
  /* FAQ section */
}

.support-page-bg {
  background-color: #8f7bc2;
}

.settings-page-bg {
  background-color: hsl(180, 15%, 54%);
}

.accordion-wrapper {
  background-color: #63a386;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-radius: 10px;
}

.accordion {
  background-color: #8fbeb1;
  color: #631d1d;
  cursor: pointer;
  width: 95%;

  text-align: left;
  outline: none;
  font-size: 20px;
  transition: background-color 0.4s ease;
  border-radius: 10px;
}

.accordion-wrapper span svg {
  font-size: 20px;
}

.active,
.accordion-wrapper:hover {
  background-color: #3f745d;
}

.panel ul {
  list-style: none;
  font-size: 17px;
  padding: 0;
}

.panel ul li {
  padding: 8px 0;
}

.panel {
  padding: 0 18px;
  background-color: rgb(228, 246, 243, 0.7);
  border-radius: 10px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fullPageDiv {
  position: absolute;
  top: 10;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  z-index: -1; /* Ensures it's below other content */
}

.toggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffc4b3;
  border: 1px solid rgb(208, 89, 89);
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(255, 235, 235);
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #3b2823;
}

.user-info-box {
  width: 70%; /* Adjust width as needed */
  margin: 0 auto; /* Center the box horizontally */
  margin-top: 50px;
  padding: 20px; /* Add padding inside the box */
  border-radius: 10px; /* Add rounded corners */
  background: linear-gradient(to bottom, #e0f2f1, #80cbc4); /* Gradient background */
  text-align: center; /* Center-align the content */
  font-weight: bold;
}


.info-title {
  /* FavTeams */
  font-family: Inter;
  font-size: 25px;
  text-align: center;
  font-weight: bolder;
  color: black; /* Change color as needed */
}

.info-label {
  /* Username and Points */
  font-family: Inter;
  font-size: 25px;
  text-align: center;
  font-weight: bolder;
  color: black; /* Change color as needed */
}


input:checked + .slider:before {
  transform: translateX(26px);
}

.custom-btn-green {
  background-color: rgb(10, 75, 39);
  color: white; /* Optionally, change text color to white */
}

.file-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: lightseagreen;
  color: black;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.file-button:hover {
  background-color: #0056b3;
}

