{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%}
<h5 align="center" style="color: rgb(43, 57, 55)">
  Welcome returning sports lovers!
</h5>

<!-- all boxes and labels created for login page -->
<form method="POST">
  <h3 align="center" style="color: rgb(30, 139, 121)">Login</h3>
  <div class="form-group">
    <!-- creating box and label for email input, sending data to backend-->
    <label for="email">Email Address</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Enter email"
      style="color: rgb(63, 75, 21)"
    />
  </div>
  <div class="form-group">
    <!-- creating box and label for password1 input, sending data to backend-->
    <label for="password1">Password</label>
    <input
      type="password"
      class="form-control"
      id="password1"
      name="password1"
      placeholder="Enter password"
      style="color: rgb(63, 75, 21)"
    />
  </div>
  <br />
  <button type="submit" class="btn btn-info">
    <i class="fa fa-fw fa-sign-in"></i>Login
  </button>
</form>
{% endblock %}
